textarea {
    border: none;
    resize: none;
    width: 100%;
}

textarea:focus {
    background-color: #eee;
    outline:none;
}

body>div {
    border: 2px solid black;

    padding: 20px 40px;
}

.text-bold {
    font-weight: bold;
}
